* {
    font-family: "Roboto", sans-serif;
} 

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(30, 31, 54);
}

.hlogo {
    color: aliceblue;
    display: flex;
    align-items: center;
}

.h-right-links {
    display: flex;
    gap: 16px;
}

ul {
    list-style: none;
}

.header, .intro, .info, .quote, .closer, .footer {
    padding: 0 100px;
}

a {
    text-decoration: none;
    color: white;
}