* {
    font-family: Roboto, sans-serif;
} 

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(30, 31, 54);
    padding: 20px;
}

.hlogo {
    color: aliceblue;
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 24px;
}

.h-right-links {
    display: flex;
    gap: 16px;
    font-size: 16px;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header, .intro, .info, .quote, .closer, .footer {
   padding-left: 100px;
   padding-right: 100px;
}

a {
    text-decoration: none;
    color: white;
}

.intro {
    display: flex;
    background-color: rgb(30, 31, 54);
    color: white;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}

.section1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}

.title1 {
    font-size: 48px;
    font-weight: 900;
    
}

.description1 {
    width: 600px;
    font-size: 18px;
}

button {
    border: none;
    border-radius: 20px;
    background: #3882F6;
    color: white;
    font-size: 16px;
    padding: 10px;
}

.image1 {
    max-width: 600px;
}

.info {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 30px;
     padding: 50px;
     padding-bottom: 200px;
}

.title2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.cards {
    display: flex;
    gap: 50px;
}

.box {
    border: solid #3882F6;
    border-width: 5px 5px;
    width: 180px;
    height: 180px;
    border-radius: 20px;
}

.caption {
    text-align: center;
}

.quote {
    display: flex; 
    align-items: center;
    justify-content: center;
    background: #E5E7EB;
    padding: 200px;
    
}

.container {
    display: flex;
    flex-direction: column;
    width: 850px;
    gap: 20px;
}

.mainq {
    font-size: 36px;
    font-style: italic;  
}

.sign {
    align-self: flex-end;
    font-size: 20px;
    font-weight: 900;
}

.ibox {
    background: #3882F6;
    display: flex;
    padding: 10px 20px;
}

